body,html{
    width:100%;
    height:100%;
    padding:0;
    margin:0;
    -webkit-transition-duration:1s;
    background:#dc143c;
    font-family: Consolas, "Courier New", Courier, monospace;
}
/*color*/
.fn-hide {
    display: none;
}
.fn-clear:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.fn-clear {
    zoom: 1;
    /* for IE6 IE7 */
}
.fn-left {
    float: left;
}
.fn-right {
    float: right;
}

#source{
    position:absolute;
    top:5%;
    right:5%;
    font-size: 26px;
    text-decoration: none;
    color:#fff;
    font-weight: bolder;
}
#code{
    position:absolute;
    width:90%;
    left:50%;
    top:50%;
    margin-top: -30%;
    margin-left:-45%;
    overflow:hidden;
}
#code textarea{
    background:#fff;
    color:#000;
    overflow:scroll;
    display:block;
    resize:none;
    padding:20px;
    -webkit-transition-duration:0.5s;
}
#code .html{
    margin:0;
    border:0;
    width:100%;
    height:200px;
    font-size: 14px;
    border-bottom:1px #aaa solid;
    
}
#code .html:hover{
    background:#eaeaea;
    
}
#code .css{
    margin:0;
    border:0;
    width:100%;
}
#code .tag{
    position:absolute;
    padding:5px 10px;
    background:#333;
    font-size:14px;
    color:#fff;
    right:10px;
    line-height: 20px;
    top:20px;
}
#name{
    position:absolute;
    bottom:5%;
    right:8%;
    color:#fff;
    text-decoration: none;
    font-size: 18px;
    line-height: 18px;
}
#name img{
    position:absolute;
    right:-64px;
    top:-20px;
    width:50px;
    border-radius: 25px;
}
#menu{
    position:fixed;
    top:0;
    left:0;
    height:100%;
    overflow-y:auto;
   
}
#menu a{
    display:block;
    padding:20px;
    text-align: center;
    width:100px;
    height:70px;
    font-size: 18px;
    color: #fff;
     background:#222;
    text-decoration: none;
    position:relative;
    overflow:hidden;

}
#menu a .square{
    -webkit-transition-duration:0.5s;
    width:64px;
    height:64px;
    position:absolute;
    top:50%;
    margin-top: -32px;
    left:50%;
    margin-left: -32px;
}
#menu a:nth-child(1) .square{
    background:#EE0C1A;
}
#menu a:nth-child(2) .square{
    background:#C31783;
}
#menu a:nth-child(3) .square{
    background:#D01ECC;
}
#menu a:nth-child(4) .square{
    background:#436BE5;
}
#menu a:nth-child(5) .square{
    background:#1C93F9;
}
#menu a:nth-child(6) .square{
    background:#2EB1AB;
}
#menu a:nth-child(7) .square{
    background:#32cd32;
}
#menu a:nth-child(8) .square{
    background:#FED30A;
} 
#menu a:nth-child(9) .square{
    background:#C88840;
}
#menu a:nth-child(10) .square{
    background:#ff8c00;
}

#menu .active{
    
}

#menu .active .square{
    
    border-right: 6px solid #222;
    border-top-right-radius: 10px 60px;
    border-bottom-right-radius: 10px 60px;
    -webkit-transform:rotate(45deg);
    left:140px;
}


#animate9 {
    position: absolute;
    top:50%;
    left:50%;
    margin-top:-165px;
    margin-left:-115px;
    width: 330px;
}
#animate9 .box {
    width: 100px;
    height: 100px;
    background: #fff;
    float: left;
    margin: 5px;
    
    -webkit-animation-fill-mode: both!important;
    animation-fill-mode: both;
}
.swash{
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name:swash;
}

/*animate*/
.swashIn .box:nth-child(1){
    -webkit-animation-duration: 2s;
    -webkit-animation-name:swashIn;

}
.swashIn .box:nth-child(2){
    -webkit-animation-duration: 1.5s;
    -webkit-animation-name:swashIn;
}
.swashIn .box:nth-child(3){
    -webkit-animation-duration: 0.9s;
    -webkit-animation-name:swashIn;
}
.swashIn .box:nth-child(4){
    -webkit-animation-duration: 1.7s;
    -webkit-animation-name:swashIn;
}
.swashIn .box:nth-child(5){
    -webkit-animation-duration: 1.2s;
    -webkit-animation-name:swashIn;
}
.swashIn .box:nth-child(6){
    -webkit-animation-duration: 1.6s;
    -webkit-animation-name:swashIn;
}
.swashIn .box:nth-child(7){
    -webkit-animation-duration: 0.7s;
    -webkit-animation-name:swashIn;
}
.swashIn .box:nth-child(8){
    -webkit-animation-duration: 2s;
    -webkit-animation-name:swashIn;
} 
.swashIn .box:nth-child(9){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:swashIn;
}

.puffIn .box:nth-child(1){
    -webkit-animation: puffIn 2s;

}
.puffIn .box:nth-child(2){
    -webkit-animation: puffIn 1.5s;
}
.puffIn .box:nth-child(3){
    -webkit-animation: puffIn 0.9s;
}
.puffIn .box:nth-child(4){
    -webkit-animation: puffIn 1.7s;
}
.puffIn .box:nth-child(5){
    -webkit-animation: puffIn 1.2s;
}
.puffIn .box:nth-child(6){
    -webkit-animation: puffIn 1.6s;
}
.puffIn .box:nth-child(7){
    -webkit-animation: puffIn 0.7s;
}
.puffIn .box:nth-child(8){
    -webkit-animation: puffIn 2s;
} 
.puffIn .box:nth-child(9){
    -webkit-animation: puffIn 1s;
}


.rotateIn1 .box:nth-child(1){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:openUpLeftRetourn;

}
.rotateIn1 .box:nth-child(2){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:swashIn;
}
.rotateIn1 .box:nth-child(3){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:openUpRightRetourn;
}
.rotateIn1 .box:nth-child(4){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:swashIn;
}
.rotateIn1 .box:nth-child(5){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:rotateIn1;
}
.rotateIn1 .box:nth-child(6){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:swashIn;
}
.rotateIn1 .box:nth-child(7){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:openDownLeftRetourn;
}
.rotateIn1 .box:nth-child(8){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:swashIn;
} 
.rotateIn1 .box:nth-child(9){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:openDownRightRetourn;
}


.rotateIn2 .box:nth-child(1){
    -webkit-animation: rotateIn 2s;

}
.rotateIn2 .box:nth-child(2){
    -webkit-animation: rotateIn 1.5s;
}
.rotateIn2 .box:nth-child(3){
    -webkit-animation: rotateIn 0.9s;
}
.rotateIn2 .box:nth-child(4){
    -webkit-animation: rotateIn 1.7s;
}
.rotateIn2 .box:nth-child(5){
    -webkit-animation: rotateIn 1.2s;
}
.rotateIn2 .box:nth-child(6){
    -webkit-animation: rotateIn 1.6s;
}
.rotateIn2 .box:nth-child(7){
    -webkit-animation: rotateIn 0.7s;
}
.rotateIn2 .box:nth-child(8){
    -webkit-animation: rotateIn 2s;
} 
.rotateIn2 .box:nth-child(9){
    -webkit-animation: rotateIn 1s;
}

.slideIn1 .box:nth-child(1){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:slideDownRight;

}
.slideIn1 .box:nth-child(2){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:slideDown;
}
.slideIn1 .box:nth-child(3){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:slideDownLeft;
}
.slideIn1 .box:nth-child(4){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:slideRight;
}
.slideIn1 .box:nth-child(5){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:swashIn;
}
.slideIn1 .box:nth-child(6){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:slideLeft;
}
.slideIn1 .box:nth-child(7){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:slideUpRight;
}
.slideIn1 .box:nth-child(8){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:slideUp;
} 
.slideIn1 .box:nth-child(9){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:slideUpLeft;
}

.slideIn2 .box:nth-child(1){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:slideRight;

}
.slideIn2 .box:nth-child(2){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:slideDownRight;
}
.slideIn2 .box:nth-child(3){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:slideDown;
}
.slideIn2 .box:nth-child(4){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:slideUpRight;
}
.slideIn2 .box:nth-child(5){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:rotate180;
}
.slideIn2 .box:nth-child(6){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:slideDownLeft;
}
.slideIn2 .box:nth-child(7){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:slideUp;
}
.slideIn2 .box:nth-child(8){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:slideUpLeft;
} 
.slideIn2 .box:nth-child(9){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:slideLeft;
}

.trans3dx .box:nth-child(1){
    -webkit-animation: rotate3dx 2s;

}
.trans3dx .box:nth-child(2){
    -webkit-animation: rotate3dx 1.5s;
}
.trans3dx .box:nth-child(3){
    -webkit-animation: rotate3dx 0.9s;
}
.trans3dx .box:nth-child(4){
    -webkit-animation: rotate3dx 1.7s;
}
.trans3dx .box:nth-child(5){
    -webkit-animation: rotate3dx 1.2s;
}
.trans3dx .box:nth-child(6){
    -webkit-animation: rotate3dx 1.6s;
}
.trans3dx .box:nth-child(7){
    -webkit-animation: rotate3dx 0.7s;
}
.trans3dx .box:nth-child(8){
    -webkit-animation: rotate3dx 2s;
} 
.trans3dx .box:nth-child(9){
    -webkit-animation: rotate3dx 1s;
}

.trans3dy .box:nth-child(1){
    -webkit-animation: rotate3dy 2s;

}
.trans3dy .box:nth-child(2){
    -webkit-animation: rotate3dy 1.5s;
}
.trans3dy .box:nth-child(3){
    -webkit-animation: rotate3dy 0.9s;
}
.trans3dy .box:nth-child(4){
    -webkit-animation: rotate3dy 1.7s;
}
.trans3dy .box:nth-child(5){
    -webkit-animation: rotate3dy 1.2s;
}
.trans3dy .box:nth-child(6){
    -webkit-animation: rotate3dy 1.6s;
}
.trans3dy .box:nth-child(7){
    -webkit-animation: rotate3dy 0.7s;
}
.trans3dy .box:nth-child(8){
    -webkit-animation: rotate3dy 2s;
} 
.trans3dy .box:nth-child(9){
    -webkit-animation: rotate3dy 1s;
}

.trans3dxy .box:nth-child(1){
    -webkit-animation: rotate3dxy 2s;

}
.trans3dxy .box:nth-child(2){
    -webkit-animation: rotate3dxy 1.5s;
}
.trans3dxy .box:nth-child(3){
    -webkit-animation: rotate3dxy 0.9s;
}
.trans3dxy .box:nth-child(4){
    -webkit-animation: rotate3dxy 1.7s;
}
.trans3dxy .box:nth-child(5){
    -webkit-animation: rotate3dxy 1.2s;
}
.trans3dxy .box:nth-child(6){
    -webkit-animation: rotate3dxy 1.6s;
}
.trans3dxy .box:nth-child(7){
    -webkit-animation: rotate3dxy 0.7s;
}
.trans3dxy .box:nth-child(8){
    -webkit-animation: rotate3dxy 2s;
} 
.trans3dxy .box:nth-child(9){
    -webkit-animation: rotate3dxy 1s;
}

.persIn .box:nth-child(1){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:perspectiveUp;

}
.persIn .box:nth-child(2){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:perspectiveUp;
}
.persIn .box:nth-child(3){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:perspectiveRight;
}
.persIn .box:nth-child(4){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:perspectiveLeft;
}
.persIn .box:nth-child(5){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:rotateIn;
}
.persIn .box:nth-child(6){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:perspectiveRight;
}
.persIn .box:nth-child(7){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:perspectiveLeft;
}
.persIn .box:nth-child(8){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:perspectiveDown;
} 
.persIn .box:nth-child(9){
    -webkit-animation-duration: 1s;
    -webkit-animation-name:perspectiveDown;
}

/*keyframes*/
@-webkit-keyframes swash {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.8, 0.8);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
  }
}

@-webkit-keyframes swashIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
  }
}

@-webkit-keyframes puffIn {
  0% {
    opacity: 0;
    /*-webkit-transform-origin: 50% 50%;*/
    -webkit-transform: scale(2,2);

  }

  100% {
    opacity: 1;
    /*-webkit-transform-origin: 50% 50%;*/
    -webkit-transform: scale(1,1);
  }
}

@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
    -webkit-animation-timing-function: ease-in-out;
  }

  100% {
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: rotate(180deg);
    -webkit-animation-timing-function: ease-out;
  }
}

@-webkit-keyframes openDownLeftRetourn {
  0% {
    -webkit-transform-origin: bottom left;
    -webkit-transform: rotate(-110deg);
    -webkit-animation-timing-function: ease-in-out;
  }

  100% {
    -webkit-transform-origin: bottom left;
    -webkit-transform: rotate(0deg);
    -webkit-animation-timing-function: ease-out;
  }
}
@-webkit-keyframes openDownRightRetourn {
  0% {
    -webkit-transform-origin: bottom right;
    -webkit-transform: rotate(110deg);
    -webkit-animation-timing-function: ease-in-out;
  }

  100% {
    -webkit-transform-origin: bottom right;
    -webkit-transform: rotate(0deg);
    -webkit-animation-timing-function: ease-out;
  }
}
@-webkit-keyframes openUpLeftRetourn {
  0% {
    -webkit-transform-origin: top left;
    -webkit-transform: rotate(110deg);
    -webkit-animation-timing-function: ease-in-out;
  }

  100% {
    -webkit-transform-origin: top left;
    -webkit-transform: rotate(0deg);
    -webkit-animation-timing-function: ease-out;
  }
}
@-webkit-keyframes openUpRightRetourn {
  0% {
    -webkit-transform-origin: top right;
    -webkit-transform: rotate(-110deg);
    -webkit-animation-timing-function: ease-in-out;
  }

  100% {
    -webkit-transform-origin: top right;
    -webkit-transform: rotate(0deg);
    -webkit-animation-timing-function: ease-out;
  }
}
/*slide*/
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(0%);
  }
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(-100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateY(0%);
  }
}
@-webkit-keyframes slideLeft {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(0%);
  }
}
@-webkit-keyframes slideRight {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(-100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translateX(0%);
  }
}


@-webkit-keyframes slideDownRight {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translate(-100%,-100%);

  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translate(0%,0%);
  }
}
@-webkit-keyframes slideDownLeft{
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translate(100%,-100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translate(0%,0%);
  }
}
@-webkit-keyframes slideUpRight {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translate(-100%,100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translate(0%,0%);
  }
}
@-webkit-keyframes slideUpLeft {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translate(100%,100%);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: translate(0%,0%);
  }
}

@-webkit-keyframes rotate3dx {
  0% {
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: perspective(800px) rotateX(180deg);
  }

  100% {
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: perspective(800px) rotateX(0deg);
  }
}

@-webkit-keyframes rotate3dy {
  0% {
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: perspective(800px) rotateY(180deg);
  }

  100% {
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: perspective(800px) rotateY(0deg);
  }
}

@-webkit-keyframes rotate3dxy {
  0% {
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: perspective(800px) rotateY(180deg) rotateX(180deg);
  }

  100% {
    -webkit-transform-origin: 50% 50%;
    -webkit-transform: perspective(800px) rotateY(0deg) rotateX(0deg);
  }
}

@-webkit-keyframes perspectiveUp {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: perspective(800px) rotateX(180deg);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: perspective(800px) rotateX(0deg);
  }
}

@-webkit-keyframes perspectiveDown {
  0% {
    -webkit-transform-origin: 0 100%;
    -webkit-transform: perspective(800px) rotateX(-180deg);
  }

  100% {
    -webkit-transform-origin: 0 100%;
    -webkit-transform: perspective(800px) rotateX(0deg);
  }
}
@-webkit-keyframes perspectiveLeft {
  0% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: perspective(800px) rotateY(-180deg);
  }

  100% {
    -webkit-transform-origin: 0 0;
    -webkit-transform: perspective(800px) rotateY(0deg);
  }
}
@-webkit-keyframes perspectiveRight {
  0% {
    -webkit-transform-origin: 100% 0;
    -webkit-transform: perspective(800px) rotateY(180deg);
  }

  100% {
    -webkit-transform-origin: 100% 0;
    -webkit-transform: perspective(800px) rotateY(0deg);
  }
}